@page
@model ScrapeList.Pages.SourceWebsitePriceRecordScaffold.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SourceWebsitePriceRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceWebsitePriceRecord.SourceWebsite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourceWebsitePriceRecord.SourceWebsite.xPathPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceWebsitePriceRecord.PriceRecord)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourceWebsitePriceRecord.PriceRecord.PriceRecordID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-websiteId="@Model.SourceWebsitePriceRecord?.WebsiteID" asp-route-priceRecordId="@Model.SourceWebsitePriceRecord?.PriceRecordID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
