@page
@model ScrapeList.Pages.SourceWebsitePriceRecordScaffold.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SourceWebsitePriceRecord[0].SourceWebsite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceWebsitePriceRecord[0].PriceRecord)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SourceWebsitePriceRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SourceWebsite.xPathPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceRecord.PriceRecordID)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-websiteId="@item.SourceWebsite.WebsiteID" asp-route-priceRecordId="@item.PriceRecord.PriceRecordID">Edit</a>
                    <a asp-page="./Details" asp-route-websiteId="@item.SourceWebsite.WebsiteID" asp-route-priceRecordId="@item.PriceRecord.PriceRecordID">Details</a>
                    <a asp-page="./Delete" asp-route-websiteId="@item.SourceWebsite.WebsiteID" asp-route-priceRecordId="@item.PriceRecord.PriceRecordID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
